In [1]:
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=UserWarning)

In [2]:
import pandas as pd
import numpy as np
import re
import math

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Window의 한글 폰트 설정
plt.rc('font', family='Malgun Gothic')

# 서울특별시 전월세가 정보

In [4]:
# https://data.seoul.go.kr/dataList/datasetView.do?infId=OA-15549&srvType=S&serviceKind=1&currentPageNo=1

cost_2019_06 = pd.read_csv('../project_data/cost/서울특별시 전월세가 정보.csv', encoding='utf-8')
# cost_2019_06.head()

In [8]:
# 자치구명 = 구 이름
# cost_2019_06['자치구명'].unique()

array(['종로구', nan, '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [144]:
# null 값 없애줌
cost_2019_06[cost_2019_06['자치구명'].isnull()]
# cost_2019_06.drop([175], inplace=True)
# cost_2019_06.tail()

Empty DataFrame
Columns: [자치구명, 법정동명, 전월세구분, 보증금, 임대료, 임대건물명]
Index: []

In [145]:
view_columns = ['자치구명', '법정동명', '전월세구분', '보증금', '임대료', '임대건물명']
cost_2019_06 = cost_2019_06[view_columns].copy()
cost_2019_06.head()

  자치구명 법정동명 전월세구분    보증금  임대료   임대건물명
0  종로구  청운동    전세  34000    0  다세대/연립
1  종로구  청운동   준월세   5000  120  다세대/연립
2  종로구  청운동    전세  35000    0  다세대/연립
3  종로구  청운동    전세  38000    0  다세대/연립
4  종로구  청운동    전세  43000    0  다세대/연립

In [146]:
# cost_2019_06 = cost_2019_06[cost_2019_06['임대건물명']=='다세대/연립']
# cost_2019_06['임대건물명'].value_counts()

다세대/연립    669573
Name: 임대건물명, dtype: int64

# 구 별로 데이터 추출

In [239]:
gu_list = cost_2019_06['자치구명'].unique().tolist()
len(gu_list)

25

# 동 별로 데이터 추출

In [240]:
dong_total_list = cost_2019_06['법정동명'].unique().tolist()
len(dong_total_list)

342

# 전세구분
### 전세가, 월세 매물이 없을 수 있다는 것도 고려하기

In [170]:
df_year = cost_2019_06.loc[cost_2019_06['전월세구분']=='전세']
# df_year.tail(20)

In [18]:
# len(df_year['법정동명'].unique())


# df_year[df_year['보증금'].isnull()]
# cost_2019_06.drop([175], inplace=True)
# cost_2019_06.tail()

In [249]:
dong_cost_year = []


for n in dong_total_list:
    df_tmp = df_year.loc[df_year['법정동명']==n] 
    dong_cost_year.append(df_tmp['보증금'].mean())
    
    
len(dong_cost_year)

342

In [250]:
# 소수점 둘째자리까지 반올림
dong_cost_year = np.round(dong_cost_year, 2)
dong_cost_year = dong_cost_year.tolist()
# dong_cost_year

# 월세구분

In [246]:
df_month = cost_2019_06.loc[cost_2019_06['전월세구분']=='월세']
df_month.head()

    자치구명 법정동명 전월세구분   보증금  임대료   임대건물명
113  종로구  청운동    월세     0  110  다세대/연립
149  종로구  청운동    월세   360  120  다세대/연립
276  종로구  청운동    월세  1000   90  다세대/연립
828  종로구  신교동    월세   300   30  다세대/연립
938  종로구  신교동    월세   400  400  다세대/연립

In [247]:
# 월세 보증금 평균가격

dong_cost_month_bo = []


for n in dong_total_list:
    df_tmp = df_month.loc[df_month['법정동명']==n] 
    
    
    dong_cost_month_bo.append(df_tmp['보증금'].mean())
    
    
len(dong_cost_month_bo)

342

In [248]:
dong_cost_month_bo = np.round(dong_cost_month_bo, 2)
dong_cost_month_bo = dong_cost_month_bo.tolist()
len(dong_cost_month_bo)

342

In [51]:
# 월세 임대료 평균가격

dong_cost_month_im = []


for n in dong_total_list:
    df_tmp = df_month.loc[df_month['법정동명']==n] 
    
    
    dong_cost_month_im.append(df_tmp['임대료'].mean())
    
    
# dong_cost_month_im

[106.66666666666667,
 120.25,
 180.0,
 nan,
 nan,
 nan,
 74.0,
 nan,
 nan,
 nan,
 39.6,
 nan,
 70.0,
 47.63636363636363,
 83.33333333333333,
 nan,
 nan,
 47.5,
 68.6,
 nan,
 nan,
 70.0,
 nan,
 nan,
 50.55555555555556,
 45.0,
 92.5,
 56.0,
 60.0,
 nan,
 50.0,
 52.5625,
 43.84615384615385,
 47.5,
 nan,
 110.0,
 nan,
 nan,
 64.8,
 82.5,
 63.0,
 63.333333333333336,
 nan,
 62.5,
 47.59183673469388,
 nan,
 92.5,
 nan,
 nan,
 nan,
 95.0,
 nan,
 90.0,
 nan,
 nan,
 nan,
 nan,
 68.15714285714286,
 39.0,
 nan,
 69.61111111111111,
 74.57142857142857,
 63.05050505050505,
 nan,
 nan,
 42.5,
 nan,
 50.3,
 58.5,
 62.4,
 nan,
 62.4,
 nan,
 76.36363636363636,
 nan,
 89.54545454545455,
 68.0,
 46.666666666666664,
 49.9,
 nan,
 nan,
 56.0,
 48.5,
 55.0,
 74.0,
 nan,
 58.75,
 102.9326923076923,
 183.63333333333333,
 97.27272727272727,
 57.651162790697676,
 51.666666666666664,
 88.33333333333333,
 90.0,
 87.5,
 nan,
 73.0,
 59.375,
 55.18181818181818,
 50.71875,
 34.9,
 nan,
 42.0,
 33.333333333333336,
 47.5,
 293.8,
 41.0625,
 52.36666666666667,
 35.5,
 57.5,
 44.88059701492537,
 71.47058823529412,
 55.357142857142854,
 41.0,
 47.38,
 56.7,
 51.23880597014925,
 47.826530612244895,
 46.310344827586206,
 58.411764705882355,
 34.78787878787879,
 41.875,
 55.19047619047619,
 49.125,
 40.69911504424779,
 59.8,
 49.241379310344826,
 50.951219512195124,
 42.30769230769231,
 44.875,
 45.8,
 39.21875,
 31.333333333333332,
 53.78947368421053,
 170.83333333333334,
 49.0,
 56.0,
 40.0,
 nan,
 60.0,
 nan,
 49.0,
 nan,
 43.75,
 60.3,
 52.0,
 49.9375,
 45.265306122448976,
 nan,
 nan,
 62.4,
 50.0,
 nan,
 nan,
 70.0,
 70.83333333333333,
 85.0,
 47.8,
 63.57142857142857,
 60.8,
 81.0,
 62.333333333333336,
 54.0,
 40.291666666666664,
 35.90909090909091,
 58.58620689655172,
 55.57142857142857,
 34.7,
 46.956756756756754,
 40.892857142857146,
 45.326530612244895,
 42.490196078431374,
 42.73170731707317,
 42.69230769230769,
 41.96,
 43.76315789473684,
 46.1,
 43.37931034482759,
 41.904761904761905,
 46.36363636363637,
 43.640776699029125,
 56.666666666666664,
 40.208333333333336,
 42.28,
 50.676923076923075,
 50.970588235294116,
 42.56989247311828,
 42.723404255319146,
 46.476190476190474,
 47.10526315789474,
 42.80769230769231,
 79.85833333333333,
 40.911764705882355,
 46.6,
 nan,
 55.592592592592595,
 nan,
 nan,
 43.5,
 nan,
 56.51315789473684,
 46.0,
 65.0,
 60.3859649122807,
 nan,
 nan,
 nan,
 nan,
 57.375,
 149.0,
 42.69662921348315,
 nan,
 32.041666666666664,
 46.5234375,
 55.80952380952381,
 70.25,
 55.90909090909091,
 76.38461538461539,
 40.0,
 54.375,
 nan,
 73.73684210526316,
 nan,
 60.76923076923077,
 95.0,
 52.526315789473685,
 51.75796178343949,
 57.625,
 44.25,
 nan,
 81.25,
 54.5,
 45.3125,
 44.904761904761905,
 59.724137931034484,
 56.07272727272727,
 50.013333333333335,
 49.09708737864078,
 53.0,
 50.180952380952384,
 40.92307692307692,
 46.58695652173913,
 57.5,
 54.285714285714285,
 47.605633802816904,
 44.95652173913044,
 44.388888888888886,
 90.0,
 nan,
 42.333333333333336,
 37.23076923076923,
 30.0,
 57.0,
 44.714285714285715,
 36.1,
 51.05555555555556,
 39.440677966101696,
 51.57142857142857,
 36.25,
 52.43859649122807,
 nan,
 39.36842105263158,
 49.041666666666664,
 53.36363636363637,
 56.25,
 60.833333333333336,
 nan,
 47.111111111111114,
 52.48275862068966,
 64.0,
 62.888888888888886,
 50.0,
 42.5,
 nan,
 nan,
 71.0,
 65.0,
 49.28260869565217,
 nan,
 40.5,
 37.25,
 50.78688524590164,
 nan,
 47.857142857142854,
 50.333333333333336,
 nan,
 nan,
 nan,
 51.77536231884058,
 53.17948717948718,
 48.5,
 46.916666666666664,
 28.333333333333332,
 52.76923076923077,
 54.75757575757576,
 50.375,
 49.96610169491525,
 52.589285714285715,
 52.299107142857146,
 51.41056910569106,
 54.416666666666664,
 69.54761904761905,
 74.72619047619048,
 77.5,
 nan,
 103.18461538461538,
 93.48780487804878,
 107.91176470588235,
 nan,
 nan,
 nan,
 102.325,
 118.61904761904762,
 108.82413793103449,
 69.07317073170732,
 90.02564102564102,
 103.20609318996416,
 55.333333333333336,
 nan,
 71.43181818181819,
 nan,
 nan,
 60.244897959183675,
 68.62545454545455,
 55.26315789473684,
 66.43764705882353,
 64.13850415512465,
 60.11363636363637,
 53.44186046511628,
 50.421052631578945,
 61.13023255813953,
 73.125,
 49.8,
 45.93333333333333,
 50.578947368421055,
 43.333333333333336,
 71.0,
 55.78350515463917,
 50.333333333333336,
 50.872727272727275,
 58.14705882352941,
 nan]

In [251]:
dong_cost_month_im = np.round(dong_cost_month_im, 2)
dong_cost_month_im = dong_cost_month_im.tolist()
# dong_cost_month_im

[106.67,
 120.25,
 180.0,
 nan,
 nan,
 nan,
 74.0,
 nan,
 nan,
 nan,
 39.6,
 nan,
 70.0,
 47.64,
 83.33,
 nan,
 nan,
 47.5,
 68.6,
 nan,
 nan,
 70.0,
 nan,
 nan,
 50.56,
 45.0,
 92.5,
 56.0,
 60.0,
 nan,
 50.0,
 52.56,
 43.85,
 47.5,
 nan,
 110.0,
 nan,
 nan,
 64.8,
 82.5,
 63.0,
 63.33,
 nan,
 62.5,
 47.59,
 nan,
 92.5,
 nan,
 nan,
 nan,
 95.0,
 nan,
 90.0,
 nan,
 nan,
 nan,
 nan,
 68.16,
 39.0,
 nan,
 69.61,
 74.57,
 63.05,
 nan,
 nan,
 42.5,
 nan,
 50.3,
 58.5,
 62.4,
 nan,
 62.4,
 nan,
 76.36,
 nan,
 89.55,
 68.0,
 46.67,
 49.9,
 nan,
 nan,
 56.0,
 48.5,
 55.0,
 74.0,
 nan,
 58.75,
 102.93,
 183.63,
 97.27,
 57.65,
 51.67,
 88.33,
 90.0,
 87.5,
 nan,
 73.0,
 59.38,
 55.18,
 50.72,
 34.9,
 nan,
 42.0,
 33.33,
 47.5,
 293.8,
 41.06,
 52.37,
 35.5,
 57.5,
 44.88,
 71.47,
 55.36,
 41.0,
 47.38,
 56.7,
 51.24,
 47.83,
 46.31,
 58.41,
 34.79,
 41.88,
 55.19,
 49.12,
 40.7,
 59.8,
 49.24,
 50.95,
 42.31,
 44.88,
 45.8,
 39.22,
 31.33,
 53.79,
 170.83,
 49.0,
 56.0,
 40.0,
 nan,
 60.0,
 nan,
 49.0,
 nan,
 43.75,
 60.3,
 52.0,
 49.94,
 45.27,
 nan,
 nan,
 62.4,
 50.0,
 nan,
 nan,
 70.0,
 70.83,
 85.0,
 47.8,
 63.57,
 60.8,
 81.0,
 62.33,
 54.0,
 40.29,
 35.91,
 58.59,
 55.57,
 34.7,
 46.96,
 40.89,
 45.33,
 42.49,
 42.73,
 42.69,
 41.96,
 43.76,
 46.1,
 43.38,
 41.9,
 46.36,
 43.64,
 56.67,
 40.21,
 42.28,
 50.68,
 50.97,
 42.57,
 42.72,
 46.48,
 47.11,
 42.81,
 79.86,
 40.91,
 46.6,
 nan,
 55.59,
 nan,
 nan,
 43.5,
 nan,
 56.51,
 46.0,
 65.0,
 60.39,
 nan,
 nan,
 nan,
 nan,
 57.38,
 149.0,
 42.7,
 nan,
 32.04,
 46.52,
 55.81,
 70.25,
 55.91,
 76.38,
 40.0,
 54.38,
 nan,
 73.74,
 nan,
 60.77,
 95.0,
 52.53,
 51.76,
 57.62,
 44.25,
 nan,
 81.25,
 54.5,
 45.31,
 44.9,
 59.72,
 56.07,
 50.01,
 49.1,
 53.0,
 50.18,
 40.92,
 46.59,
 57.5,
 54.29,
 47.61,
 44.96,
 44.39,
 90.0,
 nan,
 42.33,
 37.23,
 30.0,
 57.0,
 44.71,
 36.1,
 51.06,
 39.44,
 51.57,
 36.25,
 52.44,
 nan,
 39.37,
 49.04,
 53.36,
 56.25,
 60.83,
 nan,
 47.11,
 52.48,
 64.0,
 62.89,
 50.0,
 42.5,
 nan,
 nan,
 71.0,
 65.0,
 49.28,
 nan,
 40.5,
 37.25,
 50.79,
 nan,
 47.86,
 50.33,
 nan,
 nan,
 nan,
 51.78,
 53.18,
 48.5,
 46.92,
 28.33,
 52.77,
 54.76,
 50.38,
 49.97,
 52.59,
 52.3,
 51.41,
 54.42,
 69.55,
 74.73,
 77.5,
 nan,
 103.18,
 93.49,
 107.91,
 nan,
 nan,
 nan,
 102.32,
 118.62,
 108.82,
 69.07,
 90.03,
 103.21,
 55.33,
 nan,
 71.43,
 nan,
 nan,
 60.24,
 68.63,
 55.26,
 66.44,
 64.14,
 60.11,
 53.44,
 50.42,
 61.13,
 73.12,
 49.8,
 45.93,
 50.58,
 43.33,
 71.0,
 55.78,
 50.33,
 50.87,
 58.15,
 nan]

## 구 리스트 생성

In [280]:
gu_total_list = []


for n in gu_list:
#     print(n)
    df_dong = cost_2019_06.loc[cost_2019_06['자치구명']==n]
    
#     print(df_dong['법정동명'].unique())
#     print(len(df_dong['법정동명'].unique()))
    
    for i in range(1, (len(df_dong['법정동명'].unique()))+1):
        gu_total_list.append(n)

len(gu_total_list)

343

In [281]:
del gu_total_list[0]
len(gu_total_list)

342

# 데이터프레임 생성

In [283]:
dong_cost_final = pd.DataFrame({'구':gu_total_list,
                                '동':dong_total_list,
                              '전세평균':dong_cost_year,
                             '월세보증금평균':dong_cost_month_bo,
                             '월세임대료평균':dong_cost_month_im}
                            )

dong_cost_final.tail(50)

       구     동      전세평균  월세보증금평균  월세임대료평균
292  동작구   동작동  18163.89   200.00    28.33
293  동작구   사당동  17114.83   465.03    52.77
294  동작구  상도1동  16518.13   447.55    54.76
295  동작구    본동  14133.51   500.00    50.38
296  동작구  신대방동  14825.13   392.37    49.97
297  관악구   대방동  16890.01   481.25    52.59
298  관악구   봉천동  14494.98   442.71    52.30
299  관악구   신림동  13556.61   440.51    51.41
300  서초구   남현동  20117.79   516.67    54.42
301  서초구   양재동  22077.42   616.56    69.55
302  서초구   방배동  23688.23   655.89    74.73
303  서초구   우면동  24666.99   741.67    77.50
304  서초구   원지동  23000.00      NaN      NaN
305  서초구   반포동  26015.38   913.03   103.18
306  서초구   잠원동  18075.58   802.32    93.49
307  서초구   서초동  23964.35   993.53   107.91
308  서초구   신원동  37000.00      NaN      NaN
309  서초구   염곡동  38750.00      NaN      NaN
310  강남구   내곡동  43857.14      NaN      NaN
311  강남구   역삼동  19214.42   813.98   102.32
312  강남구   청담동  30191.84  1020.48   118.62
313  강남구   삼성동  24696.49   953.91   108.82
314  강남구   개포동  21573.62   655.37    69.07
315  강남구   대치동  21962.55   704.13    90.03
316  강남구   논현동  22621.72   886.77   103.21
317  강남구   일원동  25336.60   488.89    55.33
318  강남구   율현동  30000.00      NaN      NaN
319  강남구   도곡동  24187.58   643.18    71.43
320  강남구   세곡동  76441.18      NaN      NaN
321  강남구   자곡동  73333.33      NaN      NaN
322  송파구   송파동  17813.99   567.05    60.24
323  송파구   잠실동  17696.27   610.07    68.63
324  송파구   풍납동  15826.40   490.79    55.26
325  송파구   삼전동  16789.70   577.08    66.44
326  송파구   석촌동  17706.16   587.23    64.14
327  송파구   가락동  18262.16   555.51    60.11
328  송파구   문정동  17053.03   491.27    53.44
329  송파구   오금동  17231.85   424.53    50.42
330  송파구   방이동  18163.72   556.38    61.13
331  송파구   명일동  17872.05   750.00    73.12
332  송파구   거여동  14343.52   469.00    49.80
333  강동구   마천동  13318.49   336.67    45.93
334  강동구    길동  17460.41   449.55    50.58
335  강동구   고덕동   9772.87   433.33    43.33
336  강동구   상일동  24355.24   366.67    71.00
337  강동구   암사동  16869.02   530.57    55.78
338  강동구   둔촌동  18167.59   358.89    50.33
339  강동구   성내동  17198.43   472.32    50.87
340  강동구   천호동  17267.57   535.29    58.15
341  강동구   강일동   4695.12      NaN      NaN

In [291]:
dong_cost_final.index.name = 'eno'

In [32]:
# csv 파일 저장
# dong_cost_final.to_csv("dong_cost_info.csv", mode='w', float_format='%.2f')

## 데이터베이스 저장

In [288]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [289]:
engine = create_engine("mysql+mysqldb://root:12345678@localhost:3306/project", encoding='utf-8')
conn = engine.connect()

In [292]:
dong_cost_final.to_sql(name='cost_dong_info', con=engine, if_exists='replace')